/* .heading1{
    color: rgb(255, 255, 255) !important;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}
.sectionWhy{
    background-color: black;
}
.eventsdiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    padding: 0%;
    margin-top: 60px;
    padding-bottom: 100px;
    background-color: black;
}
.eventContainer{
    width: 350px;
    height:200px;
    border-radius: 10px;

    text-align: center;
    justify-content: center;
    margin: 0 30px 30px 30px;
    padding: 15px;
    align-items: center;
    background-color: rgb(0, 0, 0) !important;
    box-shadow: rgba(246, 226, 207, 0.591) 0px 3px 8px;

}

.eventTitle,eventTitleHovered{
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 252);
    background-color: rgba(0, 0, 0, 0);
}
.eventTitleHovered{
    color: goldenrod;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0);

}
.eventData{
    color: rgb(255, 254, 254);
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);

}
.nextDiv{
    text-align: center;
    padding: 0 100px 0 100px;
} */