.logo{

    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    /* font-size: 1.3rem; */
    height: 100%;
    padding:0;
    text-decoration: none;
    margin-left: 80px;
    margin-top: -45px;
    @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image: url("grad.png");
        background-size: 110% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
}
.navigation-bar{
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding: 0px 0px;
}
.navigation-bar-white{
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding: 0px 0px;
}
.navigation-menu, .closed-navigation-menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 20px;
    justify-content: center;
}
.navlist{
    display: flex;
    flex-direction: row;
    list-style:none;
}

.navigation-link{

    @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image: url("grad.png");
        background-size: 110% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 0 20px;
}
.navigation-link:hover{
    color: #189AB4;
    transition: 0.5s ease;
}
/* .navigation-link:hover::after{
    content:"";
    width: 10%;
    height:2px;
    background: #189AB4;
    position: absolute;
    bottom: -4px;
    left: 20px;
} */
.smaller-screen{
    display: none;
}
.menu-icon{
    @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image: url("grad.png");
        background-size: 110% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
    font-size: 1.4rem;
}
/* @media screen and (max-width:600px){
    .logo {
        align-items: center;
        font-family: 'Bebas Neue', sans-serif;


        height: 80px;
        padding-top:20px;
        text-decoration: none;
        margin-left: 80px;
        margin-top: -50px;

        @supports (background-clip: text) or (-webkit-background-clip: text) {
            background-image: url("grad.png");
            background-size: 110% auto;
            background-position: center;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
          }
    }
    .logo h1{
        font-size: 1.8rem;
        margin-top: 10px;

    }
    .navigation-bar{
        height: 55px;

    }
    .navigation-bar-white{
        height: 50px;
    }
} */
@media screen and (max-width:1135px){
    .logo{
        font-size: 1.2rem;
        padding-left: 0px;
        margin-left: 20px;
        padding-top: 20px;
    }
    .navlist{
        display: flex;
        flex-direction: column;
    }
    .navigation-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        right: 0px;
        top:90px;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        /* background: linear-gradient(114deg, rgba(4,59,81,1) 0%, rgba(5,68,94,1) 100%);  */
        padding: 40px 0 0 10px;
        margin-top: -11px;
    }
    .closed-navigation-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        right: -3000px;
        top:90px;
        align-items: flex-start;
        width: 300px;
        height: 100%;
        padding: 40px 0 0 10px;
        margin-top: -11px;
        transition: 0.8s ease-in-out;
    }
    .navigation-menu li{
        margin-bottom: 25px;
    }
    .navigation-link{
        color: var(--purple);
        font-size: 1.5rem;
        margin-bottom: 25px;
    }
    .navigation-link:hover{
        color: #189AB4;
        transition: 0.5s ease;
    }
    .smaller-screen{
        display: block;
        padding-right: 15px;
    }
}
@media screen and (max-width:1135px) and (min-width:600px){
.logo
{
    padding-left: 20px;
}
.smaller-screen{
    padding-right: 30px;
}
.navigation-menu{
    width: 40%;
    background-color: rgb(255, 255, 255);
    color: black;
}
.navlist{
    display: flex;
    flex-direction: column;
    list-style:none;
}
.closed-navigation-menu{
    display:hidden;
}
}
/* @media screen and (max-height:410px){
    .navlist{
        padding-top: 10%;
        margin-top: 0;

    }
    .smaller-screen{
        margin-top: 20px;
    }
    .navigation-menu{
        height: 410px;
        scroll-behavior: smooth;
        top: 20px;
    }
    .navigation-link{
        margin-bottom: 10px;
    }
} */
